* {
  margin: 0;
  box-sizing: border-box; /* Css ignorará el padding en las cuentas del modelo de caja */
}

.header {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.header-tittle {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin: 10px;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.button-close {
  position: fixed;
  top: 0;
  right: 15px;
}

.ocultar {
  display: none;
}
